<section class="container" *ngIf="set$ | async; let set">
  <div class="flex-row-all">
    <div class="flex-col flex-dynamic">
      <h1>{{ set.name }}</h1>
    </div>
    <div class="flex-col" *ngIf="auth.user$ | async; let user">
      <button *ngIf="set.ownerId === user.uid" (click)="deleteSet()" class="btn btn-icon btn-icon-ash"><i class="material-icons">delete</i></button>
    </div>
  </div>
  <ul class="bm-32">
    <li class="p18" *ngFor="let level of levels$ | async">
      <div class="flex-row-all flex-gutters-8 flex-spaced">
        <div class="flex-col">
          <div><strong>{{ level.id }}</strong> - {{ level.title }} - Made by {{ level.creator }}</div>
          <div>{{ level.summary }}</div>
        </div>
        <div class="flex-col" *ngIf="auth.user$ | async; let user">
          <div *ngIf="user.uid === level.ownerId || user.uid === set.ownerId">
            <a routerLink="/sets/{{ setId }}/levels/{{ level.id }}/edit" class="btn btn-icon btn-icon-ash"><i class="material-icons">edit</i></a>
            <button (click)="deleteLevel(level.id)" class="btn btn-icon btn-icon-ash"><i class="material-icons">delete</i></button>
            <button *ngIf="false && user.uid === set.ownerId" class="btn btn-icon btn-icon-ash"><i class="material-icons">play_arrow</i></button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="bm-16">
    <a routerLink="/sets/{{ setId }}/levels/add" class="btn">Add level</a>
  </div>

  <a class="btn btn-ash" routerLink="/sets">Back</a>
</section>
