<section class="container" *ngIf="set$ | async; let set">
  <h1>{{ set.name }}</h1>
  <ul class="bm-32">
    <li class="p18" *ngFor="let level of levels$ | async">
      <div class="flex-row-all flex-gutters-8 flex-spaced">
        <div class="flex-col">
          <div><strong>{{ level.id }}</strong> - {{ level.title }} - Made by {{ level.creator }}</div>
          <div>{{ level.summary }}</div>
        </div>
        <div class="flex-col" *ngIf="auth.user$ | async; let user">
          <div *ngIf="user.uid === level.ownerId">
            <a routerLink="/sets/{{ setId }}/levels/{{ level.id }}/edit" class="btn btn-icon btn-icon-ash"><i class="material-icons">edit</i></a>
            <button (click)="deleteLevel(level.id)" class="btn btn-icon btn-icon-ash"><i class="material-icons">delete</i></button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="bm-16">
    <div *ngIf="auth.user$ | async; then authenticated else guest"></div>
  </div>

  <ng-template #guest>
    <button class="btn" (click)="auth.googleLogin()">Login to add to this list</button>
  </ng-template>
  
  <ng-template #authenticated>
    <a routerLink="/sets/{{ setId }}/levels/add" class="btn">Add level</a>
  </ng-template>

  <a class="btn" routerLink="/sets">Back</a>
</section>
