@import "app/abstracts/variables.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:after, *:before { box-sizing: border-box; }
.no-boxsizing, .no-boxsizing *, .no-boxsizing *:after, .no-boxsizing *:before { box-sizing: content-box; }
.no-select, .no-select * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


// Global styles

$body: 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;

body, button {
  font-family: $body;
  color: #333;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 16px;
}

.container {
  padding: 16px;
  max-width: 768px;
}

@each $schar, $space in (p: padding, m: margin) {
  @each $number in (8, 16, 32, 64) {
    @each $dchar, $dir in (t: top, r: right, l: left, b: bottom) {
      .#{$dchar}#{$schar}-#{$number} {
        #{$space}-#{$dir}: #{$number}px;
      }
    }
    .v#{$schar}-#{$number} {
      #{$space}-top: #{$number}px;
      #{$space}-bottom: #{$number}px;
    }
    .h#{$schar}-#{$number} {
      #{$space}-left: #{$number}px;
      #{$space}-right: #{$number}px;
    }
    .f#{$schar}-#{$number} {
      #{$space}: #{$number}px;
    }
  }

  @each $number in (16, 32, 64) {
    @each $dchar, $dir in (t: top, r: right, l: left, b: bottom) {
      .#{$dchar}#{$schar}r-#{$number} {
        #{$space}-#{$dir}: ($number / 2) * 1px;
        @include above-width($tablet) {
          #{$space}-#{$dir}: #{$number}px;
        }
      }
    }
    .v#{$schar}r-#{$number} {
      #{$space}-top: ($number / 2) * 1px;
      #{$space}-bottom: ($number / 2) * 1px;
      @include above-width($tablet) {
        #{$space}-top: #{$number}px;
        #{$space}-bottom: #{$number}px;
      }
    }
    .h#{$schar}r-#{$number} {
      #{$space}-left: ($number / 2) * 1px;
      #{$space}-right: ($number / 2) * 1px;
      @include above-width($tablet) {
        #{$space}-left: #{$number}px;
        #{$space}-right: #{$number}px;
      }
    }
    .f#{$schar}r-#{$number} {
      #{$space}: ($number / 2) * 1px;
      @include above-width($tablet) {
        #{$space}: #{$number}px;
      }
    }
  }
}

$all-headers: (
  48: 36,
  24: 20,
  20: 18,
  18: 16,
  16: 14,
  14: 12
);

// h24 - responsive header starting at 24px on desktop with 1 line-height
// f24 - unresponsive header at 24px with 1 line-height
// s24 - static text at 24px with default line height
// p24 - responsive text starting at 24px with default line height
@each $large, $small in ($all-headers) {
  .h#{$large}, .i#{$large} {
    @include header-size($large, $large, $small, $small, 1);
  }
  .f#{$large} {
    @include font-size($large, 1);
  }
  .s#{$large} {
    @include font-size($large);
  }
  .p#{$large} {
    @include header-size($large, $large, $small, $small);
  }
}

input[type=text],
input[type=number],
textarea {
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 18px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  &:focus {
    outline: none;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
}

textarea {
  min-height: 150px;
}

.flex-row-all {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & > .flex-col-3 {
    width: 25%;
  }
  & > .flex-col-4 {
    width: 33.33333333%;
  }
  & > .flex-col-6 {
    width: 50%;
  }
  & > .flex-col-12 {
    width: 100%;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-spaced {
  justify-content: space-between;
}

.flex-gutters-8 {
  margin-left: -4px;
  margin-right: -4px;
  & > [class*="flex-col"] {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.flex-gutters-16 {
  margin-left: -8px;
  margin-right: -8px;
  & > [class*="flex-col"] {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.flex-static {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-dynamic {
  flex-grow: 1;
  flex-shrink: 1;
}

.btn {
  padding: 8px 16px;
  background: #222;
  color: white;
  border: 0;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: #333;
  }
  &:focus {
    outline: none;
  }
}

.btn-ash {
  background: $ash-color;
  &:hover {
    background: darken($ash-color, 10%);
  }
}

.btn-icon {
  background: transparent;
  padding: 0;
  color: #222;
  &:hover {
    background: transparent;
  }
}

.btn-icon-ash {
  color: $ash-color;
}

.btn-block {
  display: block;
  width: 100%;
}

strong {
  font-weight: 800;
}
