<section class="container">
  <h1>Create New List</h1>
  <div class="flex-row-all flex-wrap flex-gutters-16">
    <div class="flex-col-12 bm-16">
      <input type="text" [(ngModel)]="set.name" placeholder="Name">
    </div>
    <div class="flex-col-12 bm-16">
      <input type="checkbox" [(ngModel)]="set.public">
      Allow other people to add levels to this list?
    </div>
  </div>
  <div class="flex-row-all flex-spaced bm-32">
    <button class="btn" (click)="create()">Create List</button>
    <div class="red-color" *ngIf="error">{{ error }}</div>
  </div>
  <a class="btn btn-ash" routerLink="/sets">Back</a>
</section>
